h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: steelblue;
}

.blog{
    width: 65%;
    margin: 20px auto ;
    background-color: thistle;
    padding: 20px;
    border: 5px solid slateblue;
}

.blog p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(95, 82, 82);
}
.blog img{
    width: 400px;
    height: 380px;
    display: inline;
    margin: 20px 0;
}